---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
---

<Layout>
	<div class="mv">
		<Logo />
	</div>
	<!-- /.mv -->
	<div class="box">
		<section class="section">
			
		</section>
		<!-- /.section -->
	</div>
	<!-- /.box -->
</Layout>

<style lang="scss">
.mv {
	position: relative;
	height: 666px;
	background-image: linear-gradient(to bottom, g.$color_key 66%, g.$color_bg 100%);

	:global(.logo) {
		position: absolute;
		bottom: 30px;
		right: 30px;
	}
}
</style>
