---
/**
 * インナー
 */
interface Props {
	addClass?: string|string[]; //追加するクラス
}

const { addClass = '' } = Astro.props;
---
<div class:list={['inner', addClass]}>
    <slot />
</div>

<style lang="scss">
.inner {
    width: g.$inner_min;
	max-width: g.$inner_max;
	margin-inline: auto;
    
    &.is_small {
        max-width: g.$inner_max_small;
    }

    &.is_pc {
        @include g.mq('sm') {
            width: 100%;
        }
    }

    &.is_sp {
        @include g.mq('md') {
            width: 100%;
            max-width: 100%;
        }
    }
}
</style>

