---
/**
 * ロゴ
 */
import {IMG_PATH} from '../consts.js';

interface Props {
    en?: boolean;
    addClass?: boolean;
}

const { en = false, addClass = '' } = Astro.props;

// 画像パス生成
let src = IMG_PATH + 'common/logo';
if (en) {
    src += '_en.svg';
} else {
    src += '.svg';
}
---
<p class:list={['logo', addClass]}>
    <img src={src} alt={en ? '株式会社屋根折り' : 'YANEORI'}>
</p>


<style lang="scss">
.logo {
    img {
        width: 100%;
        filter: g.$svg_color_base;
    }
    
    &.is_white {
        img {
            filter: g.$svg_color_white;
        }
    }
}
</style>
